@inject IStringLocalizer<SharedResource> Localizer

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow text-center">
                <p class="fs-3 text-primary-color mb-4">@Localizer["DeleteMemberConfirmation"]</p>

                <div class="alert alert-warning text-start" role="alert">
                    <strong>@Localizer["DeleteWarning"]</strong> @Localizer["DeleteMemberDesc"]
                </div>

                <form method="post" asp-action="DeleteConfirm">
                    <input hidden readonly name="id" value="@ViewBag.MemberId"/>
                    <div class="buttons d-flex justify-content-between gap-3">
                        <a asp-controller="Member" asp-action="Index" class="btn-outline flex-fill">@Localizer["No"]</a>
                        <button type="submit" class="btn-fill flex-fill">@Localizer["Yes"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>