@inject IStringLocalizer<SharedResource> Localizer

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow text-center">

                <p class="fs-3 text-primary-color mb-4">@Localizer["DeleteTrainerConfirmation"]</p>

                <div class="alert alert-warning text-start" role="alert">
                    <strong>@Localizer["DeleteWarning"]</strong> @Localizer["DeleteTrainerDesc"]
                </div>

                <form asp-action="DeleteConfirmed" method="post" class="mt-4">
                    <input type="hidden" name="id" value="@ViewBag.TrainerId" readonly />
                    <div class="buttons d-flex justify-content-between gap-3">
                        <a asp-controller="Trainer" asp-action="Index" class="btn-outline flex-fill">@Localizer["No"]</a>
                        <button type="submit" class="btn-fill flex-fill">@Localizer["Yes"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
