@inject IStringLocalizer<SharedResource> Localizer
@model TrainerToUpdateViewModel

<div class="container mt-4">
    <header class="mb-4">
        <h3 class="text-primary-color">@Localizer["EditTrainerInfo"]</h3>
    </header>

    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <!-- Trainer Info -->
        <div class="section-header mb-3">
            <h5 class="text-primary fw-bold">@Localizer["PersonalInformation"]</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <label asp-for="Name" class="form-label">@Localizer["FullName"]</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Email" class="form-label">@Localizer["EmailAddress"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Phone" class="form-label">@Localizer["Phone"]</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="DateOfBirth" class="form-label">@Localizer["DateOfBirth"]</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Gender" class="form-label">@Localizer["Gender"]</label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GymManagmentDAL.Entities.Enums.Gender>()" class="form-select">
                    <option value="">@Localizer["SelectGender"]</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

        </div>
        <div class="section-header mb-3 mt-4">
            <h5 class="text-primary fw-bold">@Localizer["AddressInformation"]</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">

            <div class="col-12 col-md-6">
                <label asp-for="BuildingNumber" class="form-label">@Localizer["BuildingNumber"]</label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Street" class="form-label">@Localizer["Street"]</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="City" class="form-label">@Localizer["City"]</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="Country" class="form-label">@Localizer["Country"]</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <!-- Professional Information -->
        <div class="section-header mb-3 mt-4">
            <h5 class="text-primary fw-bold">@Localizer["ProfessionalInformation"]</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">

            <div class="col-12 col-md-6">
                <label asp-for="SpecialtyId" class="form-label">@Localizer["Specialties"]</label>
                <select asp-for="SpecialtyId" class="form-select" asp-items="@(new SelectList(ViewBag.Specialties, "Id", "Name"))">
                    <option value="">@Localizer["SelectSpecialist"]</option>
                </select>
                <span asp-validation-for="SpecialtyId" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-3">
                <label asp-for="ShiftStart" class="form-label">@Localizer["ShiftStart"]</label>
                <input asp-for="ShiftStart" type="time" class="form-control" />
                <span asp-validation-for="ShiftStart" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-3">
                <label asp-for="ShiftEnd" class="form-label">@Localizer["ShiftEnd"]</label>
                <input asp-for="ShiftEnd" type="time" class="form-control" />
                <span asp-validation-for="ShiftEnd" class="text-danger"></span>
            </div>
        </div>

        <footer class="d-flex justify-content-end gap-2 mt-4">
            <a asp-action="Index" class="btn btn-outline">@Localizer["Cancel"]</a>
            <button type="submit" class="btn btn-fill">@Localizer["SaveChanges"]</button>
        </footer>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
